<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="URL"  value="https://gmail.com"/>
    <add key="UserName"  value="nagseleniummay1"/>
    <add key="PassWord"  value="kothapalli@1234"/>
    <add key="ExecutionType"  value="Local"/>
    <add key="ApplicationName" value="CDKGlobal" />
    <add key="browser" value="Chrome" />
    <add key="BrowserVersion" value="65" />
    <add key="OS" value="Windows 7" />
    <add key="SaucelabsUserName" value="edge-pmtablet" />
    <add key="SaucelabsAccessKey" value="a1161bc5-a4e4-4760-8635-be985dd75d6b" />
    <add key="SaucelabsURL" value="http://ondemand.saucelabs.com/wd/hub" />
    <add key="ScreenResolution" value="1280x1024" />
    
    
  </appSettings>
    
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
  
  <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
</configuration>